h3 Results
table.table.table-striped
    thead
        tr
            th Bill ID
            th Type
            th Number
            th Congress
            th Chamber
            th Introduced On
            th Last Action At
            th Vote At
            th Version On
    tbody
        each item in data.results
            tr
                td 
                    = item.bill_id
                td 
                    = item.bill_type
                td 
                    = item.number
                td 
                    = item.congress
                td 
                    = item.chamber
                td 
                    = item.introduced_on
                td 
                    = item.last_action_at
                td 
                    = item.last_vote_at
                td 
                    = item.last_version_on

