h5 Search
.row
    .col-md-8
        .form-group.form-group-default
            label Keyword            
            input#keyword.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='bills.searchByKeyword($("#keyword").val())') Search
