h5 Search
.row
    .col-md-8
        .form-group.form-group-default
            label Chamber            
            input#chamber.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='floor_updates.searchByChamber($("#chamber").val())') Search

