h5 Search by Name
input#name(type='text', name='name')     
input(type='submit', value='Serach' onClick='legislators.searchByName($("#name").val())')

h5 Search by Zipcode
form
    input#zipcode(type='text', name='zipcode')     
    input(type='submit', value='Serach' onClick='legislators.searchByZipcode($("#zipcode").val())')


h5 Favorite Cities
ul
    li
        a(href="#", onClick='legislators.searchByZipcode(80301)') Boulder
    li
        a(href="#", onClick='legislators.searchByZipcode(80210)') Denver

h5 Chambers
ul
    li
        a(href="#", onClick='legislators.searchByChamber("senate")') Senate
    li
        a(href="#", onClick='legislators.searchByChamber("house")') House
