h5 Search
.row
    .col-md-8
        .form-group.form-group-default
            label Zipcode            
            input#zipcode.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='districts.searchByZipcode($("#zipcode").val())') Search



h5 Favorite Cities
ul
    li
        a(href="#" onClick='districts.searchByZipcode(80301)') Boulder
    li
        a(href="#" onClick='districts.searchByZipcode(10004)') New York
