h5 Search by Zipcode
form
    input#zipcode(type='text', name='zipcode')     
    input(type='submit', value='Serach' onClick='districts.searchByZipcode($("#zipcode").val())')


h5 More Search Features

