h5 Search
.row
    .col-md-8
        .form-group.form-group-default
            label Zipcode            
            input#zipcode.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='districts.searchByZipcode($("#zipcode").val())') Search

h5 More Search Features

h5 Popular Cities
ul
    li
        a(href="#" onClick='districts.searchByZipcode("80305")') 3685 Guys !!!
    li
        a(href="#" onClick='districts.searchByZipcode("80302")') Pearl Street
    li
        a(href="#" onClick='districts.searchByZipcode("90502")') Somwhere in Cali
    li
        a(href="#" onClick='districts.searchByZipcode("60201")') Somwhere in Illinoise