div.panel
    ul.nav.nav-tabs.nav-tabs-simple
        li
            a#legislators Legislators
        li 
            a#districts Districts
        li
            a#upcoming_bills Upcoming Bills
        li
            a#votes Votes
        li 
            a#floor_updates Floor Updates
