div.panel
    ul.nav.nav-tabs.nav-tabs-simple
        li
            a#legislators Legislators
        li
            a#districts Districts
        li
            a#nominations Nominations
        li
            a#bills Bills
